@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To MoviShows</h1>
@*    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@

</div>

<hr />

<div class="row">
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">MovieName:</div>
            <div class="card-body">Disciption</div>
            <div class="card-footer">
                <a href="#" class="btn btn-primary">Book</a>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card">
            <div class="card-header">MovieName:</div>
            <div class="card-body">Disciption</div>
            <div class="card-footer">
                <a href="#" class="btn btn-primary">Book</a>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card">
            <div class="card-header">MovieName:</div>
            <div class="card-body">Disciption</div>
            <div class="card-footer">
                <a href="#" class="btn btn-primary">Book</a>
            </div>
        </div>
    </div>

   

    <div class="col-md-4">
        <div class="card">
            <div class="card-header">MovieName:</div>
            <div class="card-body">Disciption</div>
            <div class="card-footer">
                <a href="#" class="btn btn-primary">Book</a>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card">
            <div class="card-header">MovieName:</div>
            <div class="card-body">Disciption</div>
            <div class="card-footer">
                <a href="#" class="btn btn-primary">Book</a>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card">
            <div class="card-header">MovieName:</div>
            <div class="card-body">Disciption</div>
            <div class="card-footer">
                <a href="#" class="btn btn-primary">Book</a>
            </div>
        </div>
    </div>
    


</div>
